module-name: eventing-publisher-proxy
rc-tag: 1.1.2
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/eventing-publisher-proxy:1.1.2
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
